<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahdark.code.link.dao.ShortLinkMapper">
    <select id="getShortLink" parameterType="com.ahdark.code.link.pojo.ShortLink"
            resultType="com.ahdark.code.link.pojo.ShortLink" useCache="true">
        SELECT * FROM short_links
        <where>
            <if test='key!=null and key!=""'>
                and `key`=#{key}
            </if>
            <if test='origin!=null and origin!=""'>
                and `origin`=#{origin}
            </if>
            <if test='userId!=null and userId!=0'>
                and `userId`=#{userId}
            </if>
        </where>
    </select>
    <select id="getLatestShortLink" parameterType="com.ahdark.code.link.pojo.LimitData"
            resultType="com.ahdark.code.link.pojo.ShortLink"
            useCache="true">
        SELECT *
        FROM short_links
        ORDER BY createTime DESC
        LIMIT #{offset},#{limit}
    </select>
    <select id="getNum" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT count(*) FROM short_links
        <where>
            <if test="userId != null and userId != 0">
                `userId`=#{userId, jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <select id="getNumByTime" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT count(*)
        FROM short_links
        <where>
            <if test="start != null">
                and `createTime` &gt;= #{start, jdbcType=TIMESTAMP}
            </if>
            <if test="end != null">
                and `createTime` &lt;= #{end, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    <update id="addView" parameterType="com.ahdark.code.link.pojo.ShortLink" flushCache="false">
        UPDATE short_links
        <set>
            `view` = `view`+1
        </set>
        <where>
            `key` = #{key}
        </where>
    </update>
    <update id="updateShortLink" parameterType="com.ahdark.code.link.pojo.ShortLink" flushCache="true">
        UPDATE short_links
        <set>
            <if test='origin!=null and origin!=""'>
                `origin`=#{origin},
            </if>
            <if test='userId!=null'>
                `userId`=#{userId},
            </if>
            <if test='view!=null and view>=0'>
                `view`=#{view},
            </if>
            <if test='createTime!=null'>
                `createTime`=#{createTime},
            </if>
        </set>
        <where>
            `key` = #{key}
        </where>
    </update>
    <insert id="setShortLinks" parameterType="com.ahdark.code.link.pojo.ShortLink" flushCache="true">
        INSERT INTO short_links (`key`, origin, userId)
        VALUES (#{key},
                #{origin},
                #{userId})
    </insert>
    <delete id="deleteShortLink" parameterType="com.ahdark.code.link.pojo.ShortLink" flushCache="true">
        DELETE FROM short_links WHERE `key`=#{key}
    </delete>
</mapper>
