<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahdark.code.link.dao.ShortLinkMapper">
    <select id="getShortLinkByKey" parameterType="com.ahdark.code.link.pojo.ShortLink" resultType="com.ahdark.code.link.pojo.ShortLink">
        SELECT * FROM short_links
        <where>
            <if test='key!=null and key!=""'>
                `key`=#{key}
            </if>
        </where>
    </select>
    <select id="getShortLinksByUrl" parameterType="com.ahdark.code.link.pojo.ShortLink" resultType="com.ahdark.code.link.pojo.ShortLink">
        SELECT * FROM short_links
        <where>
            <if test='origin!=null and origin!=""'>
                `origin`=#{origin}
            </if>
        </where>
    </select>
    <select id="getShortLinksById" parameterType="com.ahdark.code.link.pojo.ShortLink" resultType="com.ahdark.code.link.pojo.ShortLink">
        SELECT * FROM short_links
        <where>
            <if test='userId!=null and userId!=0'>
                `user_id`=#{user_id}
            </if>
        </where>
    </select>
    <insert id="setShortLinks" parameterType="com.ahdark.code.link.pojo.ShortLink">
        INSERT INTO short_links (`key`, origin, user_id)
        VALUES (#{key},
                #{origin},
                #{user_id})
    </insert>
</mapper>
