<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahdark.code.link.dao.UserMapper">
    <select id="getUser" parameterType="com.ahdark.code.link.pojo.User" resultType="com.ahdark.code.link.pojo.User">
        SELECT * FROM users
        <where>
            <if test='email!=null and email!=""'>
                `email`=#{email}
            </if>
            <if test='id!=null and id!=""'>
                `id`=#{id}
            </if>
        </where>
    </select>
    <insert id="setUser" parameterType="java.util.Map">
        INSERT INTO users (name, email, password, register_ip) VALUES (
        <if test='name!=null and name!=""'>
            `name`=#{name},
        </if>
        <if test='email!=null and email!=""'>
            `email`=#{email},
        </if>
        <if test='password!=null and password!=""'>
            `password`=#{password},
        </if>
        <if test='register_ip!=null and register_ip!=""'>
            `register_ip`=#{register_ip},
        </if>
        )
    </insert>
</mapper>
