<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahdark.code.link.dao.UserMapper">
    <select id="getUser" parameterType="com.ahdark.code.link.pojo.User" resultType="com.ahdark.code.link.pojo.User"
            useCache="true">
        SELECT * FROM users
        <where>
            <if test='email!=null and email!=""'>
                and `email`=#{email}
            </if>
            <if test='id!=null and id!=""'>
                and `id`=#{id}
            </if>
            <if test='password!=null and password!=""'>
                and `password`=#{password}
            </if>
        </where>
    </select>
    <select id="getNumByTime" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT count(*)
        FROM users
        <where>
            <if test="start != null">
                and `createTime` &gt;= #{start, jdbcType=TIMESTAMP}
            </if>
            <if test="end != null">
                and `createTime` &lt;= #{end, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    <insert id="setUser" parameterType="com.ahdark.code.link.pojo.User" flushCache="true">
        INSERT INTO users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `name`,
            `email`,
            `password`,
            <if test='role != null'>
                `role`,
            </if>
            <if test='description != null and description !=""'>
                `description`,
            </if>
            <if test="registerIP != null">
                `registerIP`,
            </if>
            <if test="available != null">
                `available`,
            </if>
        </trim>
            VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{name, jdbcType=VARCHAR},
            #{email, jdbcType=VARCHAR},
            #{password, jdbcType=CHAR},
            <if test='role != null'>
                #{role, jdbcType=INTEGER},
            </if>
            <if test='description != null and description !=""'>
                #{description, jdbcType=VARCHAR},
            </if>
            <if test="registerIP != null">
                #{registerIP, jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                #{available, jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <select id="getAllUser" parameterType="com.ahdark.code.link.pojo.LimitData"
            resultType="com.ahdark.code.link.pojo.User"
            useCache="true">
        SELECT *
        FROM users
        ORDER BY id
        LIMIT #{offset},#{limit}
    </select>
    <select id="getNum" resultType="java.lang.Integer" useCache="true">
        SELECT count(*)
        FROM users
    </select>
    <update id="updateLoginTime" parameterType="com.ahdark.code.link.pojo.User" flushCache="true">
        UPDATE users
        SET loginTime=current_timestamp
        WHERE id = #{id}
    </update>
    <update id="updateUserInfo" parameterType="com.ahdark.code.link.pojo.User" flushCache="true">
        UPDATE users
        <set>
            <if test='password!=null and password!=""'>
                `password`=#{password},
            </if>
            <if test='name!=null and name!=""'>
                `name`=#{name},
            </if>
            <if test='description!=null and description!=""'>
                `description`=#{description},
            </if>
            <if test='role!=null'>
                `role`=#{role},
            </if>
            <if test='registerIP!=null'>
                `registerIP`=#{registerIP},
            </if>
            <if test='createTime!=null'>
                `createTime`=#{createTime},
            </if>
            <if test='loginTime!=null'>
                `loginTime`=#{loginTime},
            </if>
            <if test='available!=null'>
                `available`=#{available, jdbcType=TINYINT},
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>
</mapper>
